@model VetClinicACorreia.Web.Data.Entities.Customer

@{
    ViewData["Title"] = "Details";
}
<section>
    <div style="margin:auto; width:1000px; height:300px">
        <br />
        <br />
        <br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <ejs-tooltip id="target" cssClass="e-tooltip-css" opensOn="Hover" width="350" height="250" content=" <br/> <h6><strong>Name:</strong> @Model.User.FullName</h6>  <h6><br/><strong>Email:</strong> @Model.User.Email</h6>  <br/> <h6> <strong>TIN:</strong> @Model.User.TIN </h6> <br/> <h6> <strong>Phone number:</strong> @Model.User.PhoneNumber </h6>">
            <e-content-template>
                <h4><strong>Customer</strong> - @Html.DisplayFor(model => model.User.FullName)</h4>
            </e-content-template>
        </ejs-tooltip>


        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FullName)
            </dd>*@
            @*<dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.PhoneNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.TIN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.TIN)
            </dd>*@
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fas fa-pen"></i> Customer</a>
            <a asp-action="AddPet" asp-route-id="@Model.Id" class="btn btn-outline-info"><i class="fa fa-plus"></i> Pet</a>
            <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-arrow-left"></i> Back</a>


        </div>
        <br />
        @*<h4>Pets</h4>*@



        @if (Model.Pets == null || Model.Pets.Count == 0)
        {
            <h5>No Pets added yet</h5>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().ImageUrl)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().Born)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pets.FirstOrDefault().PetType)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pets.OrderBy(c => c.Name))
                    {
                        <tr>
                            <td>

                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>

                                @if (!string.IsNullOrEmpty(item.ImageUrl))
                                {
                                    <img src="@Url.Content(item.ImageUrl)" alt="Image" class="rounded-circle" asp-append-version="true" style="width:150px;height:200px;max-height:100%;height:auto;" />}
                                else
                                {
                                    <img src="~/images/Doctors/noImage.png" class="rounded-circle" asp-append-version="true" style="width:80px;height:120px;max-height:100%;height:auto" />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Born)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PetType.Name)
                            </td>
                            <td id="@item.Id">


                                <a asp-action="EditPet" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-pen"></i></a>
                                <a asp-action="PetDetails" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-list-ol"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger" id="btnDelete"><i class="fas fa-trash"></i></a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div id="deleteDialog" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to delete the pet?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                    <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            var id = 0;
            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Customers/DeletePet/' + id;
            });
        });
    </script>
}

<style>
    #tooltipContent {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 65px 10px;
    }

    .content {
        display: inline-block;
        width: 49%;
    }

    #tooltipFrame {
        width: 332px;
        height: 233px;
    }

    .content button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
</style>

