@model IEnumerable<VetClinicACorreia.Web.Data.Entities.Doctor>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<section>
    <div style="margin:auto; width:1000px; height:300px">
        <br />
        <br />
        <br />
        <p>
            <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Doctor</a>
        </p>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Doctors</h3>
                        <br />
                    </div>
                    <div class="panel-boby">
                        <table class="table" table-hover table-responsive table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User.FullName)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.Speciality)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageUrl)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.User.UserName)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FullName)
                                        </td>
                                        @*<th>
                                            @Html.DisplayFor(modelItem => item.Speciality)
                                        </th>*@
                                        <td>
                                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                                            {
                                                <img src=" @Url.Content(item.ImageUrl)" alt="Image" style="width:100px;height:150px;max-height:100%;height:auto" />}
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.UserName)
                                        </td>
                                        <td id="@item.Id">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-pen"></i></a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fas fa-list-ol"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div id="deleteDialog" class="modal fade">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-window-close"></i></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you want to delete the doctor?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btnYesDelete">Delete</button>
                        <button type="button" class="btn btn-success" id="btnNoDelete">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
        $(document).ready(function () {
            var id = 0;
            $('a[id*=btnDelete]').click(function () {
                debugger;
                id = $(this).parent()[0].id;
                $("#deleteDialog").modal('show');
                return false;
            });
            $("#btnNoDelete").click(function () {
                $("#deleteDialog").modal('hide');
                return false;
            });
            $("#btnYesDelete").click(function () {
                window.location.href = '/Doctors/Delete/' + id;
            });
        });
    </script>
}

